.App {
  text-align: center;
}

.App-header {
  padding-top: 2em;
  background-color: darkslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Floor {
  background-color: black;
  color: red;
  font-family: serif;
  width: 2em;
  margin-bottom: 1em;
}

.Request-elevator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  margin: 1em;
  max-height: 10vmin;
  white-space: nowrap;
}

.Request-elevator h3 {
  margin-right: 1em;
}